#gh {
  padding: 0;
}

.fork:after {
  content: " (fork)";
  font-size: 80%;
  vertical-align: top;
}

.project {
  float: left;
  width: 200px;
  min-height: 200px;
  position: relative;
  list-style: none;
  margin: 0.5em;
  padding: 0 !important;
}

.project .title {
  word-wrap: break-word;
  display: block;
}

.project a {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #eee;
  display: block;
  border-bottom: 0 !important;
  overflow: hidden;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(242,242,242,0) 10%, rgba(239,239,239,0.65) 87%, rgba(238,238,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(242,242,242,0)), color-stop(87%,rgba(239,239,239,0.65)), color-stop(100%,rgba(238,238,238,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,0) 10%,rgba(239,239,239,0.65) 87%,rgba(238,238,238,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,0) 10%,rgba(239,239,239,0.65) 87%,rgba(238,238,238,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,0) 10%,rgba(239,239,239,0.65) 87%,rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,0) 10%,rgba(239,239,239,0.65) 87%,rgba(238,238,238,1) 100%);
  }

  &:hover {
    background-color: #777;
    color: white;
    overflow: visible;
    height: auto;
    min-height: 200px;
    position: absolute;
    transition: color 0.3s;
    z-index: 1;
    box-shadow: 0px 20px 10px rgba(255,255,255,0.5);
  }

  &:hover:after {
    background: none;
    transition: background 0.3s;
  }
}

.project .desc {
  word-wrap: break-word;
  margin: 0.5em 0;
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 767px) {
  .project {
    width: 100% !important;
    margin: 0.5em 0 !important;
    min-height: 0;
  }

  .project a {
    height: auto !important;
    width: auto !important;

    &:after {
      background: none;
    }

    &:hover {
      position: static;
      min-height: 0;
      width: auto;
    }
  }
}
